# systemd service template for PostgreSQL.

[Unit]
Description=PostgreSQL Cluster
AssertPathExists=/etc/postgresql/{{postgresql_version}}/main/postgresql.conf
RequiresMountsFor=/etc/postgresql/{{postgresql_version}}/main /var/lib/postgresql/{{postgresql_version}}
After=network.target

[Service]
User=postgres
Type=notify
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/pg_huge {{postgresql_hugepages}}
ExecStartPre=-/usr/bin/pg_prepare {{postgresql_version}}
ExecStart=-/usr/lib/postgresql/{{postgresql_version}}/bin/postgres -D /data/db/{{postgresql_version}}
TimeoutStartSec=0
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=5m
KillMode=mixed
KillSignal=SIGINT
SyslogIdentifier=postgresql
OOMScoreAdjust=-900
Restart=always
Environment=MALLOC_ARENA_MAX=2

[Install]
WantedBy=multi-user.target
